---
layout: page
title: 首页
---
<div class="page page-index">
  {% if site.posts.size == 0 %}
    <p class="empty-state">暂无文章</p>
  {% else %}
    {% for post in site.posts -%}
      {%- capture post_year %}{{ post.date | date: "%Y" }}{% endcapture -%}
      {%- capture post_month_day %}{{ post.date | date: "%m/%d" }}{% endcapture -%}
      {%- capture post_previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture -%}
      {%- capture post_next_year %}{{ post.next.date | date: "%Y" }}{% endcapture -%}
      
      {%- comment -%}
        post.next 是更新的文章，post.previous 是更旧的文章
        当进入新年份时开启新的列表组
      {%- endcomment -%}
      
      {%- if forloop.first or post_next_year != post_year -%}
      <div class="list-post">
        <h2 id="{{post_year}}">{{post_year}}</h2>
        <ul>
      {%- endif %}
          <li>
            <time class="date" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post_year }}/{{ post_month_day }}
            </time>
            <div class="title">
              <a href="{{ site.baseurl }}{{ post.url }}" class="hover-underline">{{ post.title }}</a>
            </div>
            {% if post.categories.size > 0 %}
            <div class="categories">
              {% for category in post.categories -%}
                <a href="{{site.baseurl}}/pages/categories.html#{{ category }}" class="hover-underline">{{ category }}</a>
                {%- unless forloop.last %}<span class="separator"> · </span>{% endunless -%}
              {%- endfor %}
            </div>
            {% endif %}
          </li>
      {%- if forloop.last or post_previous_year != post_year %}
        </ul>
      </div>
      {%- endif %}
    {%- endfor %}
  {% endif %}
</div>
