<header class="header">
  <a href="{{ site.baseurl }}/" class="logo"></a>
  <nav class="menu">
    {% for menu in site.menu -%}

      {%- assign rel = "" %}
      {%- if menu.target %}
        {% capture target %}target="{{ menu.target }}"{% endcapture %}
        {% assign rel = 'rel="noopener noreferrer"' %}
      {%- endif %}

      {%- assign href = menu.url %}
      {%- unless href contains "://" %}
        {% capture href %}{{ site.baseurl }}{{ menu.url }}{% endcapture %}
      {%- endunless -%}

      {%- if menu.submenu %}
      <div class="menu-dropdown">
        <a href="{{href}}" {{target}} {{rel}} class="hover-underline menu-dropdown-toggle">{{ menu.title }}</a>
        <div class="menu-dropdown-content">
          {% for sub in menu.submenu -%}
            {%- assign sub_href = sub.url %}
            {%- unless sub_href contains "://" %}
              {% capture sub_href %}{{ site.baseurl }}{{ sub.url }}{% endcapture %}
            {%- endunless -%}
            <a href="{{sub_href}}" class="hover-underline">{{ sub.title }}</a>
          {% endfor -%}
        </div>
      </div>
      {%- else %}
        {%- assign page_match = page.url | remove: '.html' -%}
        {%- assign menu_match = menu.url | remove: '.html' -%}
        {%- capture nav_class -%}
          hover-underline{% if page_match == menu_match %} active{% endif %}
        {%- endcapture -%}
      <a href="{{href}}" {{target}} {{rel}} class="{{ nav_class | strip }}">{{ menu.title }}</a>
      {%- endif %}
    {% endfor -%}
  </nav>
</header>
