<header class="header">
  <a href="{{ site.baseurl }}/" class="logo"></a>
  <nav class="menu">
    {% for menu in site.menu -%}

      {%- assign rel = "" %}
      {%- if menu.target %}
        {% capture target %}target="{{ menu.target }}"{% endcapture %}
        {% assign rel = 'rel="noopener noreferrer"' %}
      {%- endif %}

      {%- assign href = menu.url %}
      {%- unless href contains "://" %}
        {% capture href %}{{ site.baseurl }}{{ menu.url }}{% endcapture %}
      {%- endunless -%}

      <a href="{{href}}" {{target}} {{rel}} class="hover-underline">{{ menu.title }}</a>
    {% endfor -%}
  </nav>
</header>
