{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-language" content="zh-CN" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="supported-color-schemes" content="light dark" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="applicable-device" content="pc,mobile" />
  {%- if page.categories %}
  <meta name="keywords" content="{{ site.keywords }}{% for category in page.categories %},{{ category }}{% endfor %}" />
  {% else %}
  <meta name="keywords" content="{{ site.keywords }}" />
  {% endif -%}
  {% seo %}
  {% feed_meta %}
  <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/static/img/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/static/img/favicon.ico" />
  <link rel="apple-touch-icon" href="{{site.baseurl}}/static/img/favicon.ico" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/common.css?t={{buildAt}}" />
  {%- if page.layout == "mypost" %}
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/post.css?t={{buildAt}}" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/code-dark.css?t={{buildAt}}" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/code-light.css?t={{buildAt}}" />
  {%- endif %} 
  {%- if page.layout == "page" %}
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/page.css?t={{buildAt}}" />
  {%- endif %}
  <script>
    window.blog = {
      baseurl: '{{site.baseurl}}',
      buildAt: '{{buildAt}}',
      darkMode: false,
      initDarkMode: (flag) => {
        const isDark = flag === 'true' ? true : flag === 'false' ? false : window.matchMedia('(prefers-color-scheme: dark)').matches
        blog.darkMode = isDark
        document.documentElement.className = isDark ? 'dark' : ''
        const themeColor = isDark ? '#2D2E32' : '#FFFFFF'
        document.querySelector('meta[name=theme-color]')?.setAttribute('content', themeColor)
      }
    }
    blog.initDarkMode(localStorage.getItem('darkMode'))
  </script>
</head>
